.loginBtn {
    background-color: rgb(180, 18, 56);
}
.loginBtn:hover {
    color: #fff;
}
.googlebtn {
    background-color: rgb(127, 127, 224);
}
.googlebtn img {
    width: 30px;
    margin-right: 20px;
}
