
.googlebtn {
    background-color: rgb(47, 97, 176);
    color: #fff;
    border-color: rgb(47, 97, 176);
}
.googlebtn:hover {
    color: #fff;
    border-color: rgb(29, 59, 108);
}
.googlebtn img {
    width: 30px;
    margin-right: 20px;
}
